@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
! Don't import all the CSS from the previous project.
? Lean on Tailwind to do the heavy lifting.
*/

@layer base {
	html {
		font-family: 'NUNITO', sans-serif;
		font-weight: regular;
		font-size: 1rem;
		margin: 0px;
		padding: 0px;
	}
	::-webkit-scrollbar {
		width: 10px;
		border-radius: 100vh;
	}
}
